workflows/agent-6-finance-invoicing.json
{"updatedAt":"2026-03-23T21:53:57.124Z","createdAt":"2026-03-22T03:53:48.135Z","id":"K3JHo7NOZFRZEPKj","name":"Agent 6 — Finance & Invoicing | وكيل المالية والفوترة","description":null,"active":false,"isArchived":false,"nodes":[{"id":"cac13c75-daae-40b1-b8ed-e00a298af6d9","name":"Booking Confirmed Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"booking-confirmed","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"daec503a-756c-41c2-a8d5-78d3d482bb22"},{"id":"d1b3813f-0842-450d-b7d9-e73a3e9eb3f9","name":"Extract Booking Details","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"1927fb33-5d1d-4c3b-a922-8de82297ddac","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"e069b8e9-2776-43c8-858a-f51de43c09ee","name":"customer_name","value":"={{ $json.body.customer_name || $json.customer_name }}","type":"string"},{"id":"d8c51e41-5d83-465e-9823-4e8e453c06d7","name":"customer_email","value":"={{ $json.body.customer_email || $json.customer_email }}","type":"string"},{"id":"cf7b68ec-bc2f-46dd-a8b7-3ff41305834e","name":"booking_ref","value":"={{ $json.body.booking_ref || $json.booking_ref }}","type":"string"},{"id":"ca37a0bb-d38a-4259-b403-73d4847c61a7","name":"service_type","value":"={{ $json.body.service_type || 'Travel Package' }}","type":"string"},{"id":"42960b53-7285-4831-a8cc-17abb342cea4","name":"amount","value":"={{ $json.body.amount || '0' }}","type":"string"},{"id":"17534362-d949-4c32-ac63-5d4ed625897a","name":"currency","value":"={{ $json.body.currency || 'SAR' }}","type":"string"}]}}},{"id":"6d991ad4-1706-4826-b8c3-feb89880d926","name":"Create QuickBooks Invoice","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,300],"parameters":{"method":"POST","url":"=https://sandbox-quickbooks.api.intuit.com/v3/company/9341456674065791/invoice","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.QB_ACCESS_TOKEN }}"},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"Line\": [{\n    \"Amount\": {{ $json.amount }},\n    \"DetailType\": \"SalesItemLineDetail\",\n    \"SalesItemLineDetail\": {\n      \"ItemRef\": {\"value\": \"1\", \"name\": \"{{ $json.service_type }}\"}\n    }\n  }],\n  \"CustomerRef\": {\"name\": \"{{ $json.customer_name }}\"},\n  \"DocNumber\": \"{{ $json.booking_ref }}\"\n}","authentication":"predefinedCredentialType","nodeCredentialType":"oAuth2Api"},"credentials":{"oAuth2Api":{"id":"eipF8wjtQ3peRJEr","name":"QuickBooks — Jude Travel"}}},{"id":"375965c8-b653-4cc3-9dd4-7df6e10519a8","name":"Create Payment Link","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[910,300],"credentials":{"oAuth2Api":{"id":"MK0bTNJ3kHdNMVKp","name":"PayPal OAuth2 — Jude Travel"}},"parameters":{"method":"POST","url":"https://api-m.paypal.com/v2/checkout/orders","authentication":"oAuth2Api","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"intent\": \"CAPTURE\",\n  \"purchase_units\": [{\n    \"reference_id\": \"{{ $('Extract Booking Details').item.json.booking_ref }}\",\n    \"description\": \"{{ $('Extract Booking Details').item.json.service_type }} — Jude Travel\",\n    \"amount\": {\n      \"currency_code\": \"{{ $('Extract Booking Details').item.json.currency }}\",\n      \"value\": \"{{ $('Extract Booking Details').item.json.amount }}\"\n    }\n  }],\n  \"payment_source\": {\n    \"paypal\": {\n      \"experience_context\": {\n        \"brand_name\": \"Jude Travel Agency\",\n        \"locale\": \"ar-SA\",\n        \"return_url\": \"https://judetravel.com/booking/confirmed\",\n        \"cancel_url\": \"https://judetravel.com/booking/cancelled\"\n      }\n    }\n  }\n}"}},{"id":"59f1c658-1a89-46a2-b90e-edaca97f871d","name":"Slack Approval #approvals-finance","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,300],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-finance","mode":"name"},"text":"=:moneybag: *Invoice Approval — Jude Travel Agency*\n\n*Customer:* {{ $('Extract Booking Details').item.json.customer_name }}\n*Booking Ref:* {{ $('Extract Booking Details').item.json.booking_ref }}\n*Service:* {{ $('Extract Booking Details').item.json.service_type }}\n*Amount:* {{ $('Extract Booking Details').item.json.amount }} {{ $('Extract Booking Details').item.json.currency }}\n*QB Invoice ID:* {{ $('Create QuickBooks Invoice').item.json.Invoice.Id }}\n*Payment Link:* {{ $('Create Payment Link').item.json.links.filter(l => l.rel === 'approve')[0].href }}\n\nApprove to send invoice to customer.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"42b7364b-5c0c-4d0d-b346-3b1213b1fa2a","name":"Wait for Finance Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1350,300],"parameters":{"resume":"webhook","options":{}},"webhookId":"a6a0d1fd-d828-4a6c-93a8-79bd5794d98b"},{"id":"4ebcb700-705e-48ad-9911-d6fa9b4e0dc3","name":"Send Invoice via WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1570,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Booking Details').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Dear {{ $('Extract Booking Details').item.json.customer_name }}, your invoice for {{ $('Extract Booking Details').item.json.service_type }} is ready. Amount: {{ $('Extract Booking Details').item.json.amount }} {{ $('Extract Booking Details').item.json.currency }}. Pay securely: {{ $('Create Payment Link').item.json.links.filter(l => l.rel === 'approve')[0].href }} | عزيزي العميل، فاتورتك جاهزة. ادفع بأمان عبر الرابط أعلاه.\"\n  }\n}"}},{"id":"caeb0341-f9a0-4bc3-9c92-83d37e0f15a5","name":"Daily 18:00 P&L Report","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[250,600],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 18 * * *"}]}}},{"id":"0c68d535-067e-47da-9bcc-bd7190299f6c","name":"Fetch QuickBooks P&L Report","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[470,600],"parameters":{"method":"GET","url":"=https://sandbox-quickbooks.api.intuit.com/v3/company/9341456674065791/reports/ProfitAndLoss?start_date={{ $now.startOf('month').toFormat('yyyy-MM-dd') }}&end_date={{ $now.toFormat('yyyy-MM-dd') }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.QB_ACCESS_TOKEN }}"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"","authentication":"predefinedCredentialType","nodeCredentialType":"oAuth2Api"},"credentials":{"oAuth2Api":{"id":"eipF8wjtQ3peRJEr","name":"QuickBooks — Jude Travel"}}},{"id":"90224d11-10a3-44c2-be40-53345d3cbf4b","name":"Send P&L to #approvals-finance","type":"n8n-nodes-base.slack","typeVersion":2,"position":[690,600],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#daily-reports","mode":"name"},"text":"=:bar_chart: *Daily P&L Report — Jude Travel Agency*\n*Date:* {{ $now.toFormat('yyyy-MM-dd') }}\n\n*Revenue:* {{ $json.Rows?.Row?.find(r => r.group === 'Income')?.Summary?.ColData?.[1]?.value || 'N/A' }} SAR\n*Expenses:* {{ $json.Rows?.Row?.find(r => r.group === 'Expenses')?.Summary?.ColData?.[1]?.value || 'N/A' }} SAR\n*Net Income:* {{ $json.Rows?.Row?.find(r => r.type === 'Section' && r.group === 'NetIncome')?.Summary?.ColData?.[1]?.value || 'N/A' }} SAR","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}}],"connections":{"Booking Confirmed Webhook":{"main":[[{"node":"Extract Booking Details","type":"main","index":0}]]},"Extract Booking Details":{"main":[[{"node":"Create QuickBooks Invoice","type":"main","index":0}]]},"Create QuickBooks Invoice":{"main":[[{"node":"Create Payment Link","type":"main","index":0}]]},"Slack Approval #approvals-finance":{"main":[[{"node":"Wait for Finance Approval","type":"main","index":0}]]},"Wait for Finance Approval":{"main":[[{"node":"Send Invoice via WhatsApp","type":"main","index":0}]]},"Daily 18:00 P&L Report":{"main":[[{"node":"Fetch QuickBooks P&L Report","type":"main","index":0}]]},"Fetch QuickBooks P&L Report":{"main":[[{"node":"Send P&L to #approvals-finance","type":"main","index":0}]]},"Create Payment Link":{"main":[[{"node":"Slack Approval #approvals-finance","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"410d7cb3-5121-47ab-be8e-911ba132bce1","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:48.137Z","createdAt":"2026-03-22T03:53:48.137Z","role":"workflow:owner","workflowId":"K3JHo7NOZFRZEPKj","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}