workflows/agent-2-flight-booking.json
{"updatedAt":"2026-03-22T22:52:07.107Z","createdAt":"2026-03-22T03:53:45.987Z","id":"lOaCuVmAv5J1vwK5","name":"Agent 2 — Flight Booking | وكيل حجز الطيران","description":null,"active":false,"isArchived":false,"nodes":[{"id":"f130f51b-a517-4ae9-b0bd-62cb2042b84b","name":"Flight Request Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"flight-request","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"2f368c30-c8ca-4877-a79c-50b6b255b9bb"},{"id":"5e011361-e628-4da4-818c-14eb1cd77ee8","name":"Extract Flight Request","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"1f2cf85f-1faa-402c-913d-3af997293c34","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"ddcf6b01-b37e-4bce-bbc5-a70fc2b41365","name":"origin","value":"={{ $json.body.origin || $json.origin }}","type":"string"},{"id":"cbcca573-eefd-4f59-97f1-e9a5659c486b","name":"destination","value":"={{ $json.body.destination || $json.destination }}","type":"string"},{"id":"7788209a-0f10-4135-abb2-dc530077ca60","name":"depart_date","value":"={{ $json.body.depart_date || $json.depart_date }}","type":"string"},{"id":"d36cadc0-515d-453e-b5a5-22f0f1deaed1","name":"passengers","value":"={{ $json.body.passengers || $json.passengers || '1' }}","type":"string"},{"id":"f792b5ac-17c5-4e75-a9a9-74ab4a917f20","name":"customer_name","value":"={{ $json.body.name || 'Valued Customer' }}","type":"string"}]}}},{"id":"19bed001-98f4-429b-9af7-afcbaa87b7da","name":"Check Charter Flights (Google Sheet)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[690,300],"credentials":{"googleSheetsOAuth2Api":{"id":"pzlfXGDkMI3SSB07","name":"Google Sheets account"}},"parameters":{"operation":"read","documentId":{"__rl":true,"value":"{{ $env.CHARTER_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"CharterFlights","mode":"name"}}},{"id":"ca861467-d901-4fbb-b9cf-b6ec38ca5ae9","name":"Amadeus Flight Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[910,300],"credentials":{"oAuth2Api":{"id":"472dzs26ZN9ygXLn","name":"Amadeus Production — Jude Travel"}},"parameters":{"method":"GET","url":"=https://api.amadeus.com/v2/shopping/flight-offers?originLocationCode={{ $('Extract Flight Request').item.json.origin }}&destinationLocationCode={{ $('Extract Flight Request').item.json.destination }}&departureDate={{ $('Extract Flight Request').item.json.depart_date }}&adults={{ $('Extract Flight Request').item.json.passengers }}&max=5","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"4d050140-9d67-4345-a80b-0a1517b0b798","name":"Kiwi.com Flight Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1130,300],"parameters":{"method":"GET","url":"=https://api.tequila.kiwi.com/v2/search?fly_from={{ $('Extract Flight Request').item.json.origin }}&fly_to={{ $('Extract Flight Request').item.json.destination }}&date_from={{ $('Extract Flight Request').item.json.depart_date }}&date_to={{ $('Extract Flight Request').item.json.depart_date }}&adults={{ $('Extract Flight Request').item.json.passengers }}&limit=5","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.KIWI_API_KEY }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"074f10a6-b849-45d4-b224-194ebc25c2c8","name":"Build Top 3 Comparison","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,300],"parameters":{"jsCode":"\nconst MARKUP = 1.10;\nconst amadeusOffers = $(\"Amadeus Flight Search\").first()?.json?.data?.slice(0,3) || [];\nconst kiwiOffers    = $(\"Kiwi.com Flight Search\").first()?.json?.data?.slice(0,2) || [];\nconst charter       = $(\"Check Charter Flights (Google Sheet)\").first()?.json || null;\n\nlet comparison = \"*\\u2708\\ufe0f Top Flight Options \\u2014 Jude Travel Agency*\\n\\n\";\nlet idx = 1;\n\nif (charter && charter.route) {\n  const finalPrice = (parseFloat(charter.price || 0) * MARKUP).toFixed(2);\n  comparison += `*Option ${idx++}*\\n`;\n  comparison += `Route: ${charter.route}\\nPrice: ${finalPrice} ${charter.currency || 'SAR'}\\nDeparture: ${charter.departure}\\n\\n`;\n}\n\namadeusOffers.forEach(o => {\n  const seg = o.itineraries?.[0]?.segments?.[0] || {};\n  const finalPrice = (parseFloat(o.price?.total || 0) * MARKUP).toFixed(2);\n  comparison += `*Option ${idx++}*\\n`;\n  comparison += `${seg.departure?.iataCode} \\u2192 ${seg.arrival?.iataCode}\\n`;\n  comparison += `Departure: ${seg.departure?.at}\\nPrice: ${finalPrice} ${o.price?.currency || 'USD'}\\n\\n`;\n});\n\nkiwiOffers.slice(0, Math.max(0, 5 - idx)).forEach(o => {\n  const finalPrice = (parseFloat(o.price || 0) * MARKUP).toFixed(2);\n  comparison += `*Option ${idx++}*\\n`;\n  comparison += `${o.cityFrom} \\u2192 ${o.cityTo}\\n`;\n  comparison += `Departure: ${o.local_departure}\\nPrice: ${finalPrice} EUR\\n\\n`;\n});\n\ncomparison += 'Please reply with the option number to book. / \\u064a\\u0631\\u062c\\u0649 \\u0627\\u0644\\u0631\\u062f \\u0628\\u0631\\u0642\\u0645 \\u0627\\u0644\\u062e\\u064a\\u0627\\u0631 \\u0644\\u0644\\u062d\\u062c\\u0632.';\nreturn [{ json: {\n  comparison,\n  sender_id:     $(\"Extract Flight Request\").first().json.sender_id,\n  customer_name: $(\"Extract Flight Request\").first().json.customer_name\n} }];\n","mode":"runOnceForAllItems"}},{"id":"47a944bf-7b43-4ee8-a412-5a8aef46830a","name":"Send Options to Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1570,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.comparison.replace(/\\n/g, '\\\\n') }}\"\n  }\n}"}},{"id":"9868f83d-6945-40b8-a69c-aaf97aaa9a30","name":"Slack Approval #approvals-flights","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1790,300],"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}},"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-flights","mode":"name"},"text":"=:airplane: *Flight Booking Approval — Jude Travel Agency*\n\n*Customer:* {{ $('Extract Flight Request').item.json.customer_name }}\n*Route:* {{ $('Extract Flight Request').item.json.origin }} → {{ $('Extract Flight Request').item.json.destination }}\n*Date:* {{ $('Extract Flight Request').item.json.depart_date }}\n*Passengers:* {{ $('Extract Flight Request').item.json.passengers }}\n\n{{ $('Build Top 3 Comparison').item.json.comparison }}\n\nApprove to issue ticket.","otherOptions":{}}},{"id":"d4d03e76-2b30-4a36-9bb8-bb3ecc0529e7","name":"Wait for Flight Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2010,300],"parameters":{"resume":"webhook","options":{}},"webhookId":"26a9b48d-f379-4a85-b098-f1f7068abb1f"},{"id":"15d6f3e9-8cfd-4342-aab9-cdbacc1480e0","name":"Issue Ticket","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2230,300],"credentials":{"oAuth2Api":{"id":"472dzs26ZN9ygXLn","name":"Amadeus Production — Jude Travel"}},"parameters":{"method":"POST","url":"https://api.amadeus.com/v1/booking/flight-orders","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"type\": \"flight-order\",\n    \"flightOffers\": [{{ $json.selected_offer || $(\"Amadeus Flight Search\").item.json.data[0] }}],\n    \"travelers\": [{\"id\": \"1\", \"dateOfBirth\": \"1990-01-01\",\n      \"name\": {\"firstName\": \"{{ $(\"Extract Flight Request\").item.json.customer_name }}\", \"lastName\": \"Customer\"},\n      \"contact\": {\"emailAddress\": \"customer@judetravel.com\",\n        \"phones\": [{\"deviceType\": \"MOBILE\", \"countryCallingCode\": \"966\",\n          \"number\": \"{{ $(\"Extract Flight Request\").item.json.sender_id }}\"}]}}]\n  }\n}"}}],"connections":{"Flight Request Webhook":{"main":[[{"node":"Extract Flight Request","type":"main","index":0}]]},"Extract Flight Request":{"main":[[{"node":"Check Charter Flights (Google Sheet)","type":"main","index":0}]]},"Check Charter Flights (Google Sheet)":{"main":[[{"node":"Amadeus Flight Search","type":"main","index":0}]]},"Amadeus Flight Search":{"main":[[{"node":"Kiwi.com Flight Search","type":"main","index":0}]]},"Kiwi.com Flight Search":{"main":[[{"node":"Build Top 3 Comparison","type":"main","index":0}]]},"Build Top 3 Comparison":{"main":[[{"node":"Send Options to Customer","type":"main","index":0}]]},"Send Options to Customer":{"main":[[{"node":"Slack Approval #approvals-flights","type":"main","index":0}]]},"Slack Approval #approvals-flights":{"main":[[{"node":"Wait for Flight Approval","type":"main","index":0}]]},"Wait for Flight Approval":{"main":[[{"node":"Issue Ticket","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"50beb33b-a924-4822-9136-db767bbc2dac","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:45.989Z","createdAt":"2026-03-22T03:53:45.989Z","role":"workflow:owner","workflowId":"lOaCuVmAv5J1vwK5","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}