workflows/agent-5-marketing-content.json
{"updatedAt":"2026-03-22T19:34:54.656Z","createdAt":"2026-03-22T03:53:47.598Z","id":"DlZYzMZWLNiGSkvY","name":"Agent 5 — Marketing & Content | وكيل التسويق والمحتوى","description":null,"active":false,"isArchived":false,"nodes":[{"id":"48939020-8731-4168-90b5-1a9e5db9648e","name":"Daily 06:00 Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[250,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}}},{"id":"ea1637f8-ccc4-40f7-bf8d-5e0e2a7f327c","name":"Set Daily Theme","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"aadea5a1-2f29-4080-902d-58c3e296e2c0","name":"date","value":"={{ $now.toFormat('yyyy-MM-dd') }}","type":"string"},{"id":"ee84efc9-4726-4183-afa8-e823916e8131","name":"day_of_week","value":"={{ $now.toFormat('cccc') }}","type":"string"},{"id":"edd1c85c-a317-49ae-86ce-80135ddf8ea5","name":"theme","value":"={{ ['Monday: Flight Deals', 'Tuesday: Hotel Packages', 'Wednesday: Umrah & Religious Tours', 'Thursday: Weekend Getaways', 'Friday: Family Holidays', 'Saturday: Adventure Travel', 'Sunday: Luxury Escapes'][$now.weekday - 1] }}","type":"string"},{"id":"59d7101d-ffd2-48d4-b8cf-424195285032","name":"brand","value":"Jude Travel Agency","type":"string"}]}}},{"id":"42d0364d-8ca2-49d0-8690-aae09b3a0903","name":"Claude Generates 3 Posts","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are a social media content creator for Jude Travel Agency, a premium travel agency. Create 3 engaging social media posts for the given theme. Format as JSON array with fields: platform (Instagram/Twitter/LinkedIn), caption, hashtags, emoji. Include both English and Arabic versions.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Create 3 social media posts for today. Theme: {{ $json.theme }}. Date: {{ $json.date }}. Brand: {{ $json.brand }}\"}]\n}","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"fyigRKRTByoeFNkY","name":"Claude API — Jude Travel"}}},{"id":"a7c6571f-1fa9-42ec-af38-c4b7634be10b","name":"Parse & Format Posts","type":"n8n-nodes-base.code","typeVersion":2,"position":[910,300],"parameters":{"jsCode":"\nconst rawResponse = $('Claude Generates 3 Posts').first().json.content[0].text;\nlet posts;\ntry {\n  const jsonMatch = rawResponse.match(/\\[.*\\]/s);\n  posts = jsonMatch ? JSON.parse(jsonMatch[0]) : [];\n} catch(e) {\n  posts = [{ platform: 'All', caption: rawResponse, hashtags: '#JudeTravel', emoji: '✈️' }];\n}\n\nconst theme = $('Set Daily Theme').first().json.theme;\nconst formatted = posts.map((p, i) => `*Post ${i+1} — ${p.platform}*\\n${p.emoji} ${p.caption}\\n${p.hashtags}`).join('\\n\\n---\\n\\n');\n\nreturn [{ json: { formatted_posts: formatted, posts_json: JSON.stringify(posts), theme, post_count: posts.length } }];\n","mode":"runOnceForAllItems"}},{"id":"8c75bc5b-fa41-4f61-9db8-77c36f13cc47","name":"Slack Approval #approvals-content","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,300],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-content","mode":"name"},"text":"=:pencil: *Daily Content Approval — Jude Travel Agency*\n\n*Date:* {{ $('Set Daily Theme').item.json.date }}\n*Theme:* {{ $json.theme }}\n\n{{ $json.formatted_posts }}\n\nApprove to schedule all posts via Buffer.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"866ef96b-9260-4424-a2bc-b8eb7298dcac","name":"Wait for Content Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1350,300],"parameters":{"resume":"webhook","options":{}},"webhookId":"40cd0107-67ce-49bc-b9d8-cf22d50dd233"},{"id":"b4af4044-880e-4c8a-9699-a9f0a484e470","name":"Buffer API — Schedule Posts","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1570,300],"parameters":{"method":"POST","url":"https://api.bufferapp.com/1/updates/create.json","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.BUFFER_ACCESS_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"profile_ids\": {{ $env.BUFFER_PROFILE_IDS }},\n  \"text\": \"{{ $(\"Parse & Format Posts\").item.json.posts_json }}\",\n  \"scheduled_at\": \"{{ $now.plus({hours: 1}).toISO() }}\"\n}"}}],"connections":{"Daily 06:00 Schedule":{"main":[[{"node":"Set Daily Theme","type":"main","index":0}]]},"Set Daily Theme":{"main":[[{"node":"Claude Generates 3 Posts","type":"main","index":0}]]},"Claude Generates 3 Posts":{"main":[[{"node":"Parse & Format Posts","type":"main","index":0}]]},"Parse & Format Posts":{"main":[[{"node":"Slack Approval #approvals-content","type":"main","index":0}]]},"Slack Approval #approvals-content":{"main":[[{"node":"Wait for Content Approval","type":"main","index":0}]]},"Wait for Content Approval":{"main":[[{"node":"Buffer API — Schedule Posts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"dedfdf1b-a484-4b74-86e0-318c4c14cbed","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:47.600Z","createdAt":"2026-03-22T03:53:47.600Z","role":"workflow:owner","workflowId":"DlZYzMZWLNiGSkvY","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}