workflows/agent-3-hotel-package.json
{"updatedAt":"2026-03-22T22:54:56.208Z","createdAt":"2026-03-22T03:53:46.528Z","id":"coF2hZUAnOusBwfA","name":"Agent 3 — Hotel & Package | وكيل الفنادق والباقات","description":null,"active":false,"isArchived":false,"nodes":[{"id":"b2113605-694b-4dfa-928c-24b959e4695d","name":"Package Request Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"package-request","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"0f92257f-dc2f-4471-9a7f-cb2f8568fabf"},{"id":"fef86ced-81ab-45c9-a5e0-e4e1071a423c","name":"Extract Package Request","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"430ff6c0-11c8-4985-9909-4fcaa5199160","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"7dd8802a-3a1a-4bc3-8e13-756732d9f46b","name":"destination","value":"={{ $json.body.destination || $json.destination }}","type":"string"},{"id":"35dde1f9-6b0b-4ff4-b777-db5a409f07bf","name":"check_in","value":"={{ $json.body.check_in || $json.check_in }}","type":"string"},{"id":"0807d279-d579-4240-aa5a-cc8ec57c9c0d","name":"check_out","value":"={{ $json.body.check_out || $json.check_out }}","type":"string"},{"id":"09bdf087-a3c0-481c-b7c5-9514b50a5230","name":"guests","value":"={{ $json.body.guests || $json.guests || '2' }}","type":"string"},{"id":"c374e341-3464-42d4-a3de-b7e7acca01df","name":"budget","value":"={{ $json.body.budget || 'flexible' }}","type":"string"},{"id":"jordan-pass-check-new","name":"wants_jordan_pass","value":"={{ $json.body.jordan_pass === true || $json.body.jordan_pass === 'yes' || $json.body.jordan_pass === '1' }}","type":"boolean"},{"id":"53fa08c8-0f20-42eb-8cd0-f1216a10528e","name":"customer_name","value":"={{ $json.body.name || 'Valued Customer' }}","type":"string"}]}}},{"id":"c22bb0e0-4ca3-40d2-bf43-cbc22be33c5f","name":"Check DMC Partners (Google Sheet)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[690,300],"credentials":{"googleSheetsOAuth2Api":{"id":"pzlfXGDkMI3SSB07","name":"Google Sheets account"}},"parameters":{"operation":"read","documentId":{"__rl":true,"value":"{{ $env.DMC_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"DMCPartners","mode":"name"}}},{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Amadeus Hotels Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[910,300],"credentials":{"oAuth2Api":{"id":"472dzs26ZN9ygXLn","name":"Amadeus Production — Jude Travel"}},"parameters":{"method":"GET","url":"=https://api.amadeus.com/v2/shopping/hotel-offers?cityCode={{ $('Extract Package Request').item.json.destination }}&checkInDate={{ $('Extract Package Request').item.json.check_in }}&checkOutDate={{ $('Extract Package Request').item.json.check_out }}&adults={{ $('Extract Package Request').item.json.guests }}&max=5","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"264bc238-9ce0-4ff7-9691-b110cbe92416","name":"Booking.com Hotel Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1130,300],"parameters":{"method":"GET","url":"=https://distribution-xml.booking.com/2.0/json/hotels?city_ids={{ $('Extract Package Request').item.json.destination }}&checkin={{ $('Extract Package Request').item.json.check_in }}&checkout={{ $('Extract Package Request').item.json.check_out }}&guest_qty={{ $('Extract Package Request').item.json.guests }}&rows=5","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Basic {{ $env.BOOKING_COM_AUTH }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"f0e1d2c3-b4a5-6789-0fed-cba987654321","name":"Hotelbeds Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1350,300],"parameters":{"method":"GET","url":"=https://api.hotelbeds.com/hotel-api/1.0/hotels?stay.checkIn={{ $('Extract Package Request').item.json.check_in }}&stay.checkOut={{ $('Extract Package Request').item.json.check_out }}&occupancies.rooms=1&occupancies.adults={{ $('Extract Package Request').item.json.guests }}&destinations.code={{ $('Extract Package Request').item.json.destination }}&fields=all&language=EN&from=1&to=5","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Api-key","value":"={{ $env.HOTELBEDS_API_KEY }}"},{"name":"X-Signature","value":"={{ $env.HOTELBEDS_SIGNATURE }}"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"8ed0f0ef-6545-4d00-8065-8d14be2a5ac1","name":"Build Package Options","type":"n8n-nodes-base.code","typeVersion":2,"position":[1570,300],"parameters":{"jsCode":"\nconst HOTEL_MARKUP = 1.15;\nconst CAR_MARKUP   = 1.20;\n\nconst dmc          = $('Check DMC Partners (Google Sheet)').all().map(i => i.json) || [];\nconst amadeusHotels= $('Amadeus Hotels Search').first()?.json?.data?.slice(0,2) || [];\nconst bookingHotels= $('Booking.com Hotel Search').first()?.json?.result?.slice(0,2) || [];\nconst hotelbedsData= $('Hotelbeds Search').first()?.json?.hotels?.hotels?.slice(0,2) || [];\nconst req          = $('Extract Package Request').first().json;\n\nlet options = '*🏨 Package Options — Jude Travel Agency*\n\n';\nlet idx = 1;\n\n// Jordan Pass integration\nif (req.wants_jordan_pass) {\n  options += `*🇯🇴 Jordan Pass Included*\\n`;\n  options += `Access to 40+ attractions including Petra, Wadi Rum, Jerash\\n`;\n  options += `Save up to 70 JOD on entrance fees\\n\\n`;\n}\n// Dead Sea resort categorization\nconst isDeadSea = ['dead sea', 'deadsea', 'mayyit', 'bahr lut'].some(term =>\n  req.destination.toLowerCase().includes(term));\n\n// DMC Partners — no markup (already includes margin)\ndmc.slice(0,2).forEach(d => {\n  options += `*Option ${idx++}*\n`;\n  options += `Hotel: ${d.hotel_name || 'Premium Hotel'}\n`;\n  options += `Location: ${d.location || req.destination}\n`;\n  options += `Price/Night: ${d.price_per_night || 'TBD'} ${d.currency || 'SAR'}\n`;\n  options += `Includes: ${d.inclusions || 'Breakfast, Transfers'}\n`;\n  if (d.car_rental && d.car_rental_price) {\n    const carPrice = (parseFloat(d.car_rental_price) * CAR_MARKUP).toFixed(2);\n    options += `Car Rental: ${carPrice} ${d.currency || 'SAR'}/day\n`;\n  }\n  options += '\\n';\n});\n\n// Amadeus Hotels — 15% markup\namadeusHotels.forEach(h => {\n  const rawPrice = parseFloat(h.offers?.[0]?.price?.total || 0);\n  const finalPrice = rawPrice > 0 ? (rawPrice * HOTEL_MARKUP).toFixed(2) : 'Contact for price';\n  const currency = h.offers?.[0]?.price?.currency || 'USD';\n  options += `*Option ${idx++}*\n`;\n  options += `Hotel: ${h.hotel?.name || 'Quality Hotel'}\n`;\n  options += `Location: ${h.hotel?.cityCode || req.destination}\n`;\n  options += `Price/Night: ${finalPrice} ${currency}\n\n`;\n});\n\n// Booking.com — 15% markup\nbookingHotels.forEach(h => {\n  const rawPrice = parseFloat(h.min_rate || 0);\n  const finalPrice = rawPrice > 0 ? (rawPrice * HOTEL_MARKUP).toFixed(2) : 'Contact for price';\n  options += `*Option ${idx++}*\n`;\n  options += `Hotel: ${h.name || h.hotel_name}\n`;\n  options += `Stars: ${'⭐'.repeat(Math.min(h.class || 4, 5))}\n`;\n  options += `Price/Night: ${finalPrice} ${h.currency_code || 'USD'}\n\n`;\n});\n\n// Hotelbeds — 15% markup\nhotelbedsData.forEach(h => {\n  const rawPrice = parseFloat(h.minRate || 0);\n  const finalPrice = rawPrice > 0 ? (rawPrice * HOTEL_MARKUP).toFixed(2) : 'Contact for price';\n  const hotelName = Array.isArray(h.name) ? h.name[0]?.content : (h.name || 'Quality Hotel');\n  options += `*Option ${idx++}*\n`;\n  options += `Hotel: ${hotelName}\n`;\n  options += `Stars: ${'⭐'.repeat(Math.min(parseInt(h.categoryCode) || 4, 5))}\n`;\n  options += `Price/Night: ${finalPrice} ${h.currency || 'USD'}\n\n`;\n});\n\noptions += 'Reply with option number to proceed. / رد برقم الخيار للمتابعة.';\nreturn [{ json: {\n  package_options: options,\n  sender_id:     req.sender_id,\n  customer_name: req.customer_name,\n  destination:   req.destination\n} }];\n","mode":"runOnceForAllItems"}},{"id":"8912a9c2-e286-4023-a7fb-aa4676db33a5","name":"Generate PDF via Canva API","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1790,300],"parameters":{"method":"POST","url":"https://api.canva.com/rest/v1/autofills","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.CANVA_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"brand_template_id\": \"{{ $env.CANVA_PACKAGE_TEMPLATE_ID }}\",\n  \"title\": \"Jude Travel Package — {{ $json.destination }}\",\n  \"data\": {\n    \"destination\": {\"type\": \"text\", \"text\": \"{{ $json.destination }}\"},\n    \"options\":     {\"type\": \"text\", \"text\": \"{{ $json.package_options }}\"}\n  }\n}"}},{"id":"5579493d-b8f7-4386-a7fd-be1643fe46f3","name":"Send Packages to Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2010,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $(\"Build Package Options\").item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $(\"Build Package Options\").item.json.package_options.replace(/\\n/g, '\\\\n') }}\"\n  }\n}"}},{"id":"aeec86bc-a4dd-4a94-b15e-319dae2c272a","name":"Slack Approval #approvals-packages","type":"n8n-nodes-base.slack","typeVersion":2,"position":[2230,300],"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}},"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-packages","mode":"name"},"text":"=:hotel: *Package Booking Approval — Jude Travel Agency*\n\n*Customer:* {{ $('Build Package Options').item.json.customer_name }}\n*Destination:* {{ $('Build Package Options').item.json.destination }}\n\n{{ $('Build Package Options').item.json.package_options }}\n\nApprove to confirm booking.","otherOptions":{}}},{"id":"e942376d-d7f9-467a-8423-08d29b001fc1","name":"Wait for Package Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2450,300],"parameters":{"resume":"webhook","options":{}},"webhookId":"9a620fc4-37d3-4a29-865d-eb965ad1b95c"},{"id":"af01815b-58f7-4ecb-86ce-45fa5c19edac","name":"Confirm Booking with DMC","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2670,300],"parameters":{"method":"POST","url":"=https://api.{{ $env.DMC_PARTNER_DOMAIN }}/bookings/confirm","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.DMC_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"customer_name\": \"{{ $(\"Extract Package Request\").item.json.customer_name }}\",\n  \"destination\":   \"{{ $(\"Extract Package Request\").item.json.destination }}\",\n  \"check_in\":      \"{{ $(\"Extract Package Request\").item.json.check_in }}\",\n  \"check_out\":     \"{{ $(\"Extract Package Request\").item.json.check_out }}\",\n  \"guests\":        \"{{ $(\"Extract Package Request\").item.json.guests }}\",\n  \"package_selection\": \"{{ $json.approved_option || \"1\" }}\"\n}"}}],"connections":{"Package Request Webhook":{"main":[[{"node":"Extract Package Request","type":"main","index":0}]]},"Extract Package Request":{"main":[[{"node":"Check DMC Partners (Google Sheet)","type":"main","index":0}]]},"Check DMC Partners (Google Sheet)":{"main":[[{"node":"Amadeus Hotels Search","type":"main","index":0}]]},"Amadeus Hotels Search":{"main":[[{"node":"Booking.com Hotel Search","type":"main","index":0}]]},"Booking.com Hotel Search":{"main":[[{"node":"Hotelbeds Search","type":"main","index":0}]]},"Hotelbeds Search":{"main":[[{"node":"Build Package Options","type":"main","index":0}]]},"Build Package Options":{"main":[[{"node":"Generate PDF via Canva API","type":"main","index":0}]]},"Generate PDF via Canva API":{"main":[[{"node":"Send Packages to Customer","type":"main","index":0}]]},"Send Packages to Customer":{"main":[[{"node":"Slack Approval #approvals-packages","type":"main","index":0}]]},"Slack Approval #approvals-packages":{"main":[[{"node":"Wait for Package Approval","type":"main","index":0}]]},"Wait for Package Approval":{"main":[[{"node":"Confirm Booking with DMC","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"59a8bb59-32c1-4a69-9545-e16cead27e5d","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:46.530Z","createdAt":"2026-03-22T03:53:46.530Z","role":"workflow:owner","workflowId":"coF2hZUAnOusBwfA","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}