workflows/agent-8-umrah-hajj.json
{"updatedAt":"2026-03-22T19:34:54.950Z","createdAt":"2026-03-22T03:53:49.207Z","id":"GQqOd0auaYBxhhjf","name":"Agent 8 — Umrah & Hajj | وكيل العمرة والحج","description":null,"active":false,"isArchived":false,"nodes":[{"id":"410e5121-1a68-4fa0-b815-7d70adb2d0fc","name":"Umrah Inquiry Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"umrah-inquiry","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"81871bad-0cc9-4f60-96f0-8b84bdce2dca"},{"id":"bb6c3d96-80a5-43b9-800d-90668bd9b806","name":"Extract Umrah Request","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"d9a271e2-b2cd-40ba-bfaf-3a0d04582988","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"28d92b67-67f7-4fe0-9e34-932203946528","name":"customer_name","value":"={{ $json.body.name || 'Valued Customer' }}","type":"string"},{"id":"8a61ccef-5af9-4e69-87ed-5faa8d0240d4","name":"group_size","value":"={{ $json.body.group_size || '1' }}","type":"string"},{"id":"8b5ca4d4-8054-4db6-b885-677ccbbcbe5e","name":"travel_month","value":"={{ $json.body.travel_month || $json.travel_month }}","type":"string"},{"id":"276bb954-02c8-4c9e-868e-02f2b1c6437a","name":"budget","value":"={{ $json.body.budget || 'standard' }}","type":"string"},{"id":"6aebab9a-c3f8-409d-9459-19878c71c357","name":"nationality","value":"={{ $json.body.nationality || $json.nationality }}","type":"string"}]}}},{"id":"c8b0b50e-3762-460d-98b9-37fdc8edff7d","name":"Claude Drafts Umrah Packages","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are an Umrah and Hajj specialist at Jude Travel Agency. Create 3 detailed Umrah package options (Economy, Standard, Premium) including: flights, hotel category in Makkah & Madinah, visa, transport, duration, and price range. Format clearly in both English and Arabic. Include [PRICING_PENDING] if custom pricing is needed.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Create Umrah packages for: Group Size={{ $json.group_size }}, Travel Month={{ $json.travel_month }}, Budget={{ $json.budget }}, Nationality={{ $json.nationality }}\"}]\n}","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"fyigRKRTByoeFNkY","name":"Claude API — Jude Travel"}}},{"id":"7cee3c56-3b75-4279-84a3-a3d55ed14282","name":"Pricing Approval #approvals-umrah","type":"n8n-nodes-base.slack","typeVersion":2,"position":[910,300],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-umrah","mode":"name"},"text":"=:mosque: *Umrah Package Pricing Approval — Jude Travel Agency*\n\n*Customer:* {{ $('Extract Umrah Request').item.json.customer_name }}\n*Group Size:* {{ $('Extract Umrah Request').item.json.group_size }}\n*Travel Month:* {{ $('Extract Umrah Request').item.json.travel_month }}\n*Budget Level:* {{ $('Extract Umrah Request').item.json.budget }}\n\n*AI Draft Packages:*\n{{ $json.content[0].text }}\n\nApprove pricing to send to customer.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"373a7ca9-7122-4e8a-af16-0a60c8eecd55","name":"Wait for Pricing Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1130,300],"parameters":{"resume":"webhook","options":{}},"webhookId":"19b1530a-6fc4-49f2-9b0a-419a977b2c84"},{"id":"c39e4be1-15f5-42dd-ac53-eca90792d202","name":"Send Packages to Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1350,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Umrah Request').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $('Claude Drafts Umrah Packages').item.json.content[0].text.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\"\n  }\n}"}},{"id":"996ab419-352c-49f8-9d27-cfcab69e6d27","name":"Umrah Docs Upload Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,600],"parameters":{"path":"umrah-docs-upload","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"d1bf3f87-04d5-4201-b452-428250d4a900"},{"id":"5583f0a5-bc6b-4cdb-817f-f58f4286fe96","name":"Extract Pilgrim Documents","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,600],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"3547b96d-b4bf-413c-a057-d86ea178a9bc","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"7a4e7559-592d-4489-82cf-9170d248e973","name":"pilgrim_name","value":"={{ $json.body.pilgrim_name || $json.pilgrim_name }}","type":"string"},{"id":"9c7ac0d5-2d9e-43ed-8b2a-0d9f01a17e83","name":"document_url","value":"={{ $json.body.document_url || $json.document_url }}","type":"string"},{"id":"5e6733a9-0452-4ac4-86f6-d8cbc46d7450","name":"doc_type","value":"={{ $json.body.doc_type || 'passport' }}","type":"string"},{"id":"ca669861-aca6-437c-9f0b-6dafad3eaa7e","name":"group_id","value":"={{ $json.body.group_id || $json.group_id }}","type":"string"}]}}},{"id":"a303dfcb-c47f-4824-8981-409550cc34d6","name":"Google Vision OCR — Pilgrim Docs","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,600],"parameters":{"method":"POST","url":"=https://vision.googleapis.com/v1/images:annotate?key={{ $env.GOOGLE_VISION_API_KEY }}","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"requests\": [{\n    \"image\": {\"source\": {\"imageUri\": \"{{ $json.document_url }}\"}},\n    \"features\": [\n      {\"type\": \"TEXT_DETECTION\"},\n      {\"type\": \"DOCUMENT_TEXT_DETECTION\"}\n    ]\n  }]\n}"}},{"id":"8bfe535e-32a4-453f-8c73-fa670ff77377","name":"Build Pilgrim Manifest","type":"n8n-nodes-base.code","typeVersion":2,"position":[910,600],"parameters":{"jsCode":"\nconst ocr = $('Google Vision OCR — Pilgrim Docs').first()?.json?.responses?.[0];\nconst fullText = ocr?.fullTextAnnotation?.text || '';\nconst pilgrimData = $('Extract Pilgrim Documents').first().json;\n\n// Extract key fields from passport OCR\nconst lines = fullText.split('\\n').map(l => l.trim()).filter(Boolean);\nconst mrz = lines.filter(l => l.match(/^[A-Z0-9<]{30,}/));\n\nconst manifestEntry = {\n  pilgrim_name: pilgrimData.pilgrim_name,\n  group_id: pilgrimData.group_id,\n  doc_type: pilgrimData.doc_type,\n  ocr_extracted: fullText.substring(0, 300),\n  mrz_line: mrz[0] || 'Not detected',\n  validation_status: fullText.length > 50 ? 'VALID' : 'NEEDS_REVIEW',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: manifestEntry }];\n","mode":"runOnceForAllItems"}},{"id":"ffef45f1-d99e-455f-bc3c-18b744dd04c0","name":"Nusuk API — Quota Check","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1130,600],"parameters":{"method":"POST","url":"https://apis.nusuk.sa/v1/umrah/quota/check","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.NUSUK_API_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"x-api-version","value":"2024-01"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"group_id\": \"{{ $json.group_id }}\",\n  \"group_size\": {{ $(\"Extract Umrah Request\").item.json.group_size || 1 }},\n  \"travel_month\": \"{{ $(\"Extract Umrah Request\").item.json.travel_month }}\",\n  \"nationality\": \"{{ $(\"Extract Umrah Request\").item.json.nationality }}\"\n}"}},{"id":"9aedbe27-6854-4ced-85b2-069c0f6ff505","name":"Ministry Approval via Slack","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1350,600],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-umrah","mode":"name"},"text":"=:crescent_moon: *Ministry Registration Approval — Jude Travel Agency*\n\n*Group ID:* {{ $('Build Pilgrim Manifest').item.json.group_id }}\n*Pilgrim:* {{ $('Build Pilgrim Manifest').item.json.pilgrim_name }}\n*Document Status:* {{ $('Build Pilgrim Manifest').item.json.validation_status }}\n*Nusuk Quota:* {{ $('Nusuk API — Quota Check').item.json.quota_available || 'Pending' }}\n\nApprove to register group with Ministry.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"202dc88d-0a35-4a43-a38d-0f377c05611b","name":"Wait for Ministry Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1570,600],"parameters":{"resume":"webhook","options":{}},"webhookId":"3ce27ba4-28d5-45ca-99bc-a91a0ad65d14"},{"id":"e8e557c4-1ee7-4fa2-955e-1e4093f137dc","name":"Register Group with Nusuk","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1790,600],"parameters":{"method":"POST","url":"https://apis.nusuk.sa/v1/umrah/groups/register","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.NUSUK_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"group_id\": \"{{ $(\"Build Pilgrim Manifest\").item.json.group_id }}\",\n  \"pilgrims\": [{{ $(\"Build Pilgrim Manifest\").item.json }}],\n  \"travel_month\": \"{{ $(\"Extract Umrah Request\").item.json.travel_month }}\",\n  \"package_type\": \"{{ $(\"Extract Umrah Request\").item.json.budget }}\"\n}"}},{"id":"9fbd92e2-e6e3-4cf4-ad2c-98a7a5330680","name":"Emergency Monitor Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,900],"parameters":{"path":"umrah-emergency","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"119d2234-add4-42c4-aba1-955d953c9554"},{"id":"9ea6e002-164c-4671-8b54-594cf7a17e50","name":"Extract Emergency Alert","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,900],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"4af62f70-5cae-4ef3-a933-f223044c0cfe","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"a0657d28-db84-4d1c-be5d-b572b306e19a","name":"group_id","value":"={{ $json.body.group_id || $json.group_id }}","type":"string"},{"id":"ef4fff1e-533d-49cb-97e5-10891132fb5f","name":"alert_type","value":"={{ $json.body.alert_type || 'GENERAL' }}","type":"string"},{"id":"dfd4ed74-2501-45ae-ad26-feea02e1ff47","name":"message","value":"={{ $json.body.message || $json.message }}","type":"string"},{"id":"c67a2be0-5522-4bfa-b76e-bbcfaae3f721","name":"location","value":"={{ $json.body.location || 'Unknown' }}","type":"string"}]}}},{"id":"27a2be88-15f4-43f8-a476-5510e8400456","name":"Emergency Alert to #escalations-urgent","type":"n8n-nodes-base.slack","typeVersion":2,"position":[690,900],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#escalations-urgent","mode":"name"},"text":"=:sos: :rotating_light: *UMRAH EMERGENCY ALERT*\n\n*Group ID:* {{ $json.group_id }}\n*Alert Type:* {{ $json.alert_type }}\n*Location:* {{ $json.location }}\n*Message:* {{ $json.message }}\n*Sender:* {{ $json.sender_id }}\n\n*Immediate action required — contact group leader and local Saudi support team.*","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}}],"connections":{"Umrah Inquiry Webhook":{"main":[[{"node":"Extract Umrah Request","type":"main","index":0}]]},"Extract Umrah Request":{"main":[[{"node":"Claude Drafts Umrah Packages","type":"main","index":0}]]},"Claude Drafts Umrah Packages":{"main":[[{"node":"Pricing Approval #approvals-umrah","type":"main","index":0}]]},"Pricing Approval #approvals-umrah":{"main":[[{"node":"Wait for Pricing Approval","type":"main","index":0}]]},"Wait for Pricing Approval":{"main":[[{"node":"Send Packages to Customer","type":"main","index":0}]]},"Umrah Docs Upload Webhook":{"main":[[{"node":"Extract Pilgrim Documents","type":"main","index":0}]]},"Extract Pilgrim Documents":{"main":[[{"node":"Google Vision OCR — Pilgrim Docs","type":"main","index":0}]]},"Google Vision OCR — Pilgrim Docs":{"main":[[{"node":"Build Pilgrim Manifest","type":"main","index":0}]]},"Build Pilgrim Manifest":{"main":[[{"node":"Nusuk API — Quota Check","type":"main","index":0}]]},"Nusuk API — Quota Check":{"main":[[{"node":"Ministry Approval via Slack","type":"main","index":0}]]},"Ministry Approval via Slack":{"main":[[{"node":"Wait for Ministry Approval","type":"main","index":0}]]},"Wait for Ministry Approval":{"main":[[{"node":"Register Group with Nusuk","type":"main","index":0}]]},"Emergency Monitor Webhook":{"main":[[{"node":"Extract Emergency Alert","type":"main","index":0}]]},"Extract Emergency Alert":{"main":[[{"node":"Emergency Alert to #escalations-urgent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"404f8909-334c-4a88-b6c1-a79c4a176c1b","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:49.210Z","createdAt":"2026-03-22T03:53:49.210Z","role":"workflow:owner","workflowId":"GQqOd0auaYBxhhjf","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}