workflows/agent-7-quality-feedback.json
{"updatedAt":"2026-03-23T22:44:41.737Z","createdAt":"2026-03-22T03:53:48.671Z","id":"HvLSbjrIkcmFTd3W","name":"Agent 7 — Quality & Feedback | وكيل الجودة والملاحظات","description":null,"active":false,"isArchived":false,"nodes":[{"id":"28a0dc28-8e77-4188-942b-e1f373ad7280","name":"Trip Completed Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"trip-completed","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"1ef509ea-4141-4eae-abae-c73d69a6eff6"},{"id":"ace92bfa-8029-410a-ad11-bcf2d828c8d3","name":"Extract Trip Details","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"7164b7f1-2ba5-47f5-914e-18b81a203b35","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"a8602e12-d2ab-4adf-915f-47059e7dca87","name":"customer_name","value":"={{ $json.body.customer_name || 'Valued Customer' }}","type":"string"},{"id":"c6e67bb3-fbf8-4f4e-a8bf-b5deec1cab49","name":"booking_ref","value":"={{ $json.body.booking_ref || $json.booking_ref }}","type":"string"},{"id":"85e43bf2-2429-47fc-9dc4-b3808b5013de","name":"destination","value":"={{ $json.body.destination || $json.destination }}","type":"string"}]}}},{"id":"5cfdc972-86dd-40f2-a999-fe1a9ccd92c6","name":"Wait 24 Hours","type":"n8n-nodes-base.wait","typeVersion":1,"position":[690,300],"parameters":{"resume":"timeInterval","unit":"hours","amount":24,"options":{}},"webhookId":"5dceddcd-12e8-4622-8e8d-82282ee61f5e"},{"id":"5122393e-745c-4501-82eb-3d42af317863","name":"Send NPS Survey via WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[910,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Trip Details').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Dear {{ $('Extract Trip Details').item.json.customer_name }}, we hope you enjoyed your trip to {{ $('Extract Trip Details').item.json.destination }}! 🌟 Please rate your experience 1-10 by replying to this message. Your feedback helps us serve you better. | عزيزنا العميل، نأمل أنك استمتعت برحلتك! يرجى تقييم تجربتك من 1 إلى 10 بالرد على هذه الرسالة.\"\n  }\n}"}},{"id":"c4e46aeb-ade4-4ca3-af74-ec1a271ed1c1","name":"Survey Response Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,600],"parameters":{"path":"survey-response","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"381cd1e3-00f9-4081-a837-bf36b1760d6b"},{"id":"3f6400da-cc53-4329-b5c5-f60310fa69d9","name":"Extract Survey Response","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,600],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"145d8e72-c162-4779-b248-44b7c826f091","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"3edc20e8-218d-4407-96d7-1a2ba962cc35","name":"nps_score","value":"={{ $json.body.message || $json.body.score || $json.score }}","type":"string"},{"id":"e1e38179-e908-4849-a5bd-7e4c5d9d198a","name":"customer_name","value":"={{ $json.body.name || 'Customer' }}","type":"string"},{"id":"7612635e-3cee-4e1a-b735-ec4fa4609f51","name":"booking_ref","value":"={{ $json.body.booking_ref || '' }}","type":"string"}]}}},{"id":"8dbb9e78-c9da-4530-b389-469e184761f7","name":"Claude Sentiment Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,600],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are a customer experience analyst. Analyze the customer feedback score and provide: 1) Sentiment (Positive/Neutral/Negative), 2) Key insights, 3) Recommended action. Be concise.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Customer: {{ $json.customer_name }}, NPS Score: {{ $json.nps_score }}/10. Analyze this feedback for Jude Travel Agency.\"}]\n}","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"fyigRKRTByoeFNkY","name":"Claude API — Jude Travel"}}},{"id":"4fb6130c-61fe-4db5-a112-dfee9e40c123","name":"Score Less Than 7?","type":"n8n-nodes-base.if","typeVersion":2,"position":[910,600],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0b901fe1-1749-4512-9a86-01bd4bb3386d","leftValue":"={{ parseInt($('Extract Survey Response').item.json.nps_score) }}","rightValue":7,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"}}},{"id":"577ae9d0-842a-4066-a93a-6c6f0a07bb53","name":"Escalate to #escalations-urgent","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,500],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#escalations-urgent","mode":"name"},"text":"=:sos: *URGENT — Low NPS Score Alert*\n\n*Customer:* {{ $('Extract Survey Response').item.json.customer_name }}\n*Score:* {{ $('Extract Survey Response').item.json.nps_score }}/10\n*Booking Ref:* {{ $('Extract Survey Response').item.json.booking_ref }}\n\n*AI Analysis:*\n{{ $('Claude Sentiment Analysis').item.json.content[0].text }}\n\nImmediate follow-up required!","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"de2fbe14-6e92-4dec-9b58-f0b8448470dc","name":"Log Positive Feedback","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,720],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-reviews","mode":"name"},"text":"=:star: *Positive Feedback Received*\n\n*Customer:* {{ $('Extract Survey Response').item.json.customer_name }}\n*Score:* {{ $('Extract Survey Response').item.json.nps_score }}/10\n\n*AI Analysis:*\n{{ $('Claude Sentiment Analysis').item.json.content[0].text }}","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"8d51c7a7-0220-47a6-a105-25b9dc9276a9","name":"Monitor Google Reviews (Every 4h)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[250,900],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */4 * * *"}]}}},{"id":"d48dfad0-5b21-47ae-90ce-869038c74361","name":"Fetch Google Reviews","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[470,900],"parameters":{"method":"GET","url":"https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJ90fi8zahHBURhHC3P6cLa2A&fields=reviews&key=AIzaSyCh_2asFZRiiHP9H07mDrdquRhpGrFFvWk","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":""}},{"id":"e7077642-56c5-4893-a2e0-18b4b656527c","name":"Filter New Reviews","type":"n8n-nodes-base.code","typeVersion":2,"position":[690,900],"parameters":{"jsCode":"\nconst reviews = $('Fetch Google Reviews').first()?.json?.result?.reviews || [];\nconst fourHoursAgo = Math.floor(Date.now() / 1000) - (4 * 3600);\nconst newReviews = reviews.filter(r => r.time > fourHoursAgo);\n\nif (newReviews.length === 0) return [{ json: { has_new_reviews: false, count: 0 } }];\n\nconst formatted = newReviews.map(r =>\n  `⭐ ${r.rating}/5 — ${r.author_name}\\n\"${r.text?.substring(0, 200)}\"\\n`\n).join('\\n');\n\nreturn [{ json: { has_new_reviews: true, count: newReviews.length, formatted_reviews: formatted } }];\n","mode":"runOnceForAllItems"}},{"id":"52c2a799-f22b-4ac4-bf7d-e0f110674bdb","name":"Has New Reviews?","type":"n8n-nodes-base.if","typeVersion":2,"position":[910,900],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"23ca99be-7f4f-44a7-b069-fdf89115596a","leftValue":"={{ $json.has_new_reviews }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"fdb019c2-9e78-4965-b9d4-7a5fc1de2b70","name":"Post Reviews to #approvals-reviews","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,900],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-reviews","mode":"name"},"text":"=:google: *New Google Reviews — Jude Travel Agency*\n\n*Count:* {{ $json.count }} new review(s)\n\n{{ $json.formatted_reviews }}\n\nRespond via Google Business dashboard.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}}],"connections":{"Trip Completed Webhook":{"main":[[{"node":"Extract Trip Details","type":"main","index":0}]]},"Extract Trip Details":{"main":[[{"node":"Wait 24 Hours","type":"main","index":0}]]},"Wait 24 Hours":{"main":[[{"node":"Send NPS Survey via WhatsApp","type":"main","index":0}]]},"Survey Response Webhook":{"main":[[{"node":"Extract Survey Response","type":"main","index":0}]]},"Extract Survey Response":{"main":[[{"node":"Claude Sentiment Analysis","type":"main","index":0}]]},"Claude Sentiment Analysis":{"main":[[{"node":"Score Less Than 7?","type":"main","index":0}]]},"Score Less Than 7?":{"main":[[{"node":"Escalate to #escalations-urgent","type":"main","index":0}],[{"node":"Log Positive Feedback","type":"main","index":0}]]},"Monitor Google Reviews (Every 4h)":{"main":[[{"node":"Fetch Google Reviews","type":"main","index":0}]]},"Fetch Google Reviews":{"main":[[{"node":"Filter New Reviews","type":"main","index":0}]]},"Filter New Reviews":{"main":[[{"node":"Has New Reviews?","type":"main","index":0}]]},"Has New Reviews?":{"main":[[{"node":"Post Reviews to #approvals-reviews","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2c010f4e-5ab7-466e-ab55-5fe5d8af4e78","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:48.673Z","createdAt":"2026-03-22T03:53:48.673Z","role":"workflow:owner","workflowId":"HvLSbjrIkcmFTd3W","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}