workflows/agent-4-visa-documentation.json
{"updatedAt":"2026-03-23T22:39:31.843Z","createdAt":"2026-03-22T03:53:47.062Z","id":"lENGCExSgdBl7mwG","name":"Agent 4 — Visa Documentation | وكيل التأشيرات","description":null,"active":false,"isArchived":false,"nodes":[{"id":"cf2c2318-c8de-404a-9e50-a7ea984033ea","name":"Visa Inquiry Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"visa-request","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"17fb7f41-aef8-4860-925b-16ba468a2442"},{"id":"f461b593-37d1-477d-aa35-d84887b9e34f","name":"Extract Visa Request","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"25ce19be-7a36-410c-9045-853572754bbc","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"a8ca3181-499e-4481-bf7f-5fccd56e1943","name":"destination","value":"={{ $json.body.destination || $json.destination }}","type":"string"},{"id":"c0312acf-fb1f-4827-9454-b0bc8bb3b91a","name":"nationality","value":"={{ $json.body.nationality || $json.nationality }}","type":"string"},{"id":"a8b12efb-4cca-420c-823c-0bc2a1dad29e","name":"travel_date","value":"={{ $json.body.travel_date || $json.travel_date }}","type":"string"},{"id":"856071c1-57a8-48d9-a3f1-a9658977ccce","name":"customer_name","value":"={{ $json.body.name || 'Valued Customer' }}","type":"string"}]}}},{"id":"61a31d72-718c-4d8f-9bf8-3ce66de916a5","name":"Claude Generates Visa Checklist","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are a visa documentation specialist for Jude Travel Agency. Generate a clear, numbered document checklist for the visa application. Format it as a WhatsApp-friendly message in both English and Arabic.\",\n  \"messages\": [{\"role\": \"user\", \"content\": \"Generate visa document checklist for: Nationality={{ $json.nationality }}, Destination={{ $json.destination }}, Travel Date={{ $json.travel_date }}\"}]\n}","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"fyigRKRTByoeFNkY","name":"Claude API — Jude Travel"}}},{"id":"478ea8c8-ab8e-42d9-a547-d8d59cbf4a06","name":"Send Checklist to Customer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[910,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Visa Request').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.content[0].text.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\"\n  }\n}"}},{"id":"d6e663a5-b7b7-4638-a43a-2315dac4b3a6","name":"Visa Document Upload Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,600],"parameters":{"path":"visa-document-upload","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"39ae988b-4db2-4a67-a346-e48649f9efc3"},{"id":"51157f69-e5fb-4c15-b1f8-6f810486f6f9","name":"Extract Uploaded Documents","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,600],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"d6a5b100-ebf4-4f37-a75f-fd78d6524513","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"dee8a5fe-7181-432e-91c8-fb249068ba48","name":"document_url","value":"={{ $json.body.document_url || $json.document_url }}","type":"string"},{"id":"c11379d6-b3ee-4527-ae80-8972a457a12e","name":"doc_type","value":"={{ $json.body.doc_type || 'passport' }}","type":"string"},{"id":"babd2c8f-e4a1-4c21-b661-c425a0aea94e","name":"customer_name","value":"={{ $json.body.name || 'Valued Customer' }}","type":"string"}]}}},{"id":"6fed18f7-587e-4053-9466-78880d9f2572","name":"Google Vision OCR Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,600],"parameters":{"method":"POST","url":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyCh_2asFZRiiHP9H07mDrdquRhpGrFFvWk","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"requests\": [{\n    \"image\": {\"source\": {\"imageUri\": \"{{ $json.document_url }}\"}},\n    \"features\": [\n      {\"type\": \"TEXT_DETECTION\"},\n      {\"type\": \"DOCUMENT_TEXT_DETECTION\"}\n    ]\n  }]\n}"}},{"id":"76c881a8-04c8-4cb5-bde7-024999b84d88","name":"Validate Document Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[910,600],"parameters":{"jsCode":"\nconst ocrResult = $('Google Vision OCR Validation').first()?.json;\nconst text = ocrResult?.responses?.[0]?.fullTextAnnotation?.text || '';\nconst docType = $('Extract Uploaded Documents').first().json.doc_type;\n\nconst validations = {\n  passport: ['passport', 'date of birth', 'nationality', 'expiry', 'surname'],\n  photo: [],\n  bank_statement: ['account', 'balance', 'statement'],\n  hotel_booking: ['hotel', 'check-in', 'check-out', 'reservation']\n};\n\nconst requiredFields = validations[docType] || [];\nconst lowerText = text.toLowerCase();\nconst missingFields = requiredFields.filter(f => !lowerText.includes(f));\n\nconst isValid = missingFields.length === 0;\nconst status = isValid ? '✅ Valid' : `⚠️ Missing: ${missingFields.join(', ')}`;\n\nreturn [{ json: {\n  is_valid: isValid,\n  status_message: status,\n  extracted_text: text.substring(0, 500),\n  doc_type: docType,\n  sender_id: $('Extract Uploaded Documents').first().json.sender_id,\n  customer_name: $('Extract Uploaded Documents').first().json.customer_name\n} }];\n","mode":"runOnceForAllItems"}},{"id":"7958c463-ef3e-4837-a245-504fbcc8684d","name":"Slack Approval #approvals-visa","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,600],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-visa","mode":"name"},"text":"=:passport_control: *Visa Document Review — Jude Travel Agency*\n\n*Customer:* {{ $json.customer_name }}\n*Document Type:* {{ $json.doc_type }}\n*OCR Status:* {{ $json.status_message }}\n\n*Extracted Text Preview:*\n{{ $json.extracted_text }}\n\nApprove to proceed with visa application.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"14493cb8-ec5e-4fc0-87b9-0cd9ad551998","name":"Wait for Visa Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1350,600],"parameters":{"resume":"webhook","options":{}},"webhookId":"1c32a9e7-9876-443f-a480-436dfa13a984"},{"id":"d8f1e2a3-4b5c-6d7e-8f9a-0b1c2d3e4f5a","name":"Store Visa Documents (Google Drive)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1570,600],"credentials":{"googleDriveOAuth2Api":{"id":"mkIeH9zsSiOTvIwc","name":"Google Drive account"}},"parameters":{"operation":"upload","name":"={{ $('Extract Uploaded Documents').item.json.customer_name + '_' + $('Extract Uploaded Documents').item.json.doc_type + '_visa_doc' }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1OeBmgrch24j9DEu4JKi_J6-YaLYphMHs","mode":"id"},"inputDataFieldName":"data","options":{}}},{"id":"fb826ecd-1967-4343-b633-0992fe68130c","name":"Notify Customer — Visa Update","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1790,600],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Validate Document Data').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Your visa documents have been reviewed and approved by our team. We will now proceed with your application. / تمت مراجعة وثائق تأشيرتك والموافقة عليها من قِبل فريقنا. سنمضي الآن في معالجة طلبك.\"\n  }\n}"}}],"connections":{"Visa Inquiry Webhook":{"main":[[{"node":"Extract Visa Request","type":"main","index":0}]]},"Extract Visa Request":{"main":[[{"node":"Claude Generates Visa Checklist","type":"main","index":0}]]},"Claude Generates Visa Checklist":{"main":[[{"node":"Send Checklist to Customer","type":"main","index":0}]]},"Visa Document Upload Webhook":{"main":[[{"node":"Extract Uploaded Documents","type":"main","index":0}]]},"Extract Uploaded Documents":{"main":[[{"node":"Google Vision OCR Validation","type":"main","index":0}]]},"Google Vision OCR Validation":{"main":[[{"node":"Validate Document Data","type":"main","index":0}]]},"Validate Document Data":{"main":[[{"node":"Slack Approval #approvals-visa","type":"main","index":0}]]},"Slack Approval #approvals-visa":{"main":[[{"node":"Wait for Visa Approval","type":"main","index":0}]]},"Wait for Visa Approval":{"main":[[{"node":"Store Visa Documents (Google Drive)","type":"main","index":0}]]},"Store Visa Documents (Google Drive)":{"main":[[{"node":"Notify Customer — Visa Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7d2a735d-bdde-4ba0-ac2f-15ef28053d6f","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:53:47.064Z","createdAt":"2026-03-22T03:53:47.064Z","role":"workflow:owner","workflowId":"lENGCExSgdBl7mwG","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}