workflows/agent-1-customer-inquiry.json
{"updatedAt":"2026-03-22T19:34:54.100Z","createdAt":"2026-03-22T03:47:34.350Z","id":"pjsVXcZGTO0OOFLz","name":"Agent 1 — Customer Inquiry | وكيل استفسارات العملاء","description":null,"active":false,"isArchived":false,"nodes":[{"id":"d7e28ed8-8b1a-4039-adcf-cfbabff26ee4","name":"WhatsApp Inbound Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"whatsapp-inbound","httpMethod":"POST","responseMode":"responseNode"},"webhookId":"735fa8a1-7871-4407-baee-65fb21622ee3"},{"id":"65e473a8-973d-4b37-9396-098c8f22eada","name":"Extract Customer Data","type":"n8n-nodes-base.set","typeVersion":3,"position":[470,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"9828c199-9e55-4115-b029-c50396dcb23d","name":"sender_id","value":"={{ $json.body.from || $json.from }}","type":"string"},{"id":"7f4523f9-af5b-4191-8e93-285a4e8745e9","name":"message","value":"={{ $json.body.messages && $json.body.messages[0] && $json.body.messages[0].text ? $json.body.messages[0].text.body : ($json.body.text || '') }}","type":"string"},{"id":"cfbf5f86-ac31-4a2f-a24d-c29b517b63ec","name":"customer_name","value":"={{ $json.body.contacts && $json.body.contacts[0] ? $json.body.contacts[0].profile.name : ($json.body.name || 'Valued Customer') }}","type":"string"}]}}},{"id":"10af193c-298b-4b10-9268-203bed1bc82e","name":"Claude AI Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[690,300],"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a professional travel agent for Jude Travel Agency. Help customers with flight bookings, hotel reservations, and travel packages. If the request involves payment confirmation, booking finalization, or complex custom itineraries, start your response with [NEEDS_APPROVAL]. Otherwise respond directly and helpfully.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer name: {{ $json.customer_name }}\\nCustomer message: {{ $json.message }}\"\n    }\n  ]\n}","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi"},"credentials":{"anthropicApi":{"id":"fyigRKRTByoeFNkY","name":"Claude API — Jude Travel"}}},{"id":"70321310-a2c4-4e0a-9f55-70a6c695dd66","name":"Needs Human Approval?","type":"n8n-nodes-base.if","typeVersion":2,"position":[910,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2c45698c-5da2-4024-b81c-c6cce851653d","leftValue":"={{ $json.content[0].text }}","rightValue":"[NEEDS_APPROVAL]","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}},{"id":"1d4cd89d-a1e4-4b85-ba34-568422b8ac55","name":"Send Approval to Slack","type":"n8n-nodes-base.slack","typeVersion":2,"position":[1130,160],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"value":"#approvals-customer","mode":"name"},"text":"=:rotating_light: *Approval Required — Jude Travel Agency*\n\n*Customer:* {{ $('Extract Customer Data').item.json.customer_name }}\n*Sender ID:* {{ $('Extract Customer Data').item.json.sender_id }}\n*Message:* {{ $('Extract Customer Data').item.json.message }}\n\n*AI Draft Response:*\n{{ $('Claude AI Analysis').item.json.content[0].text.replace('[NEEDS_APPROVAL]', '').trim() }}\n\nPlease approve or edit before sending.","otherOptions":{}},"credentials":{"slackApi":{"id":"qZbRg08tLSTgr72c","name":"Slack Bot — Jude Travel"}}},{"id":"7acb0980-86ea-4b40-a372-f7885421465d","name":"Wait for Approval","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1350,160],"parameters":{"resume":"webhook","options":{}},"webhookId":"bc996ab3-43aa-4394-a567-9e05119469b9"},{"id":"523a055d-30d0-4c54-b705-8f3ca6548152","name":"Send WhatsApp Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1570,300],"parameters":{"method":"POST","url":"https://waba.360dialog.io/v1/messages","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"D360-API-KEY","value":"={{ $env.DIALOG360_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Customer Data').item.json.sender_id }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $('Claude AI Analysis').item.json.content[0].text.replace('[NEEDS_APPROVAL]', '').trim() }}\"\n  }\n}"}}],"connections":{"WhatsApp Inbound Webhook":{"main":[[{"node":"Extract Customer Data","type":"main","index":0}]]},"Extract Customer Data":{"main":[[{"node":"Claude AI Analysis","type":"main","index":0}]]},"Claude AI Analysis":{"main":[[{"node":"Needs Human Approval?","type":"main","index":0}]]},"Needs Human Approval?":{"main":[[{"node":"Send Approval to Slack","type":"main","index":0}],[{"node":"Send WhatsApp Reply","type":"main","index":0}]]},"Send Approval to Slack":{"main":[[{"node":"Wait for Approval","type":"main","index":0}]]},"Wait for Approval":{"main":[[{"node":"Send WhatsApp Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b7fe29f2-e756-447c-b481-1e3322c272a3","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T03:47:34.356Z","createdAt":"2026-03-22T03:47:34.356Z","role":"workflow:owner","workflowId":"pjsVXcZGTO0OOFLz","projectId":"r9o0YTuMhv6DDYq0","project":{"updatedAt":"2025-10-16T23:24:56.631Z","createdAt":"2025-07-25T10:58:31.482Z","id":"r9o0YTuMhv6DDYq0","name":"jalal khashman <jalalkhashman1974@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"45eb541d-b4b9-428c-b905-605059db97da"}}],"tags":[],"activeVersion":null}